body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: sans-serif;
}

main {
  width: 96%;
  height: 90%;
  margin: auto;
  background-color: rgb(228, 228, 228);
}

h1 {
  text-align: center;
  padding-top: 1em;
  font-size: 2.6em;
}

.title {
  text-align: center;
}

figure {
  text-align: center;
  margin: 0 auto;
  padding: 1.2em;
  background-color: white;
}

img {
  max-width: 100%;
}

figcaption {
  padding-top: 1.1em;
}

h2 {
  text-align: center;
}

ul {
  width: 38%;
  margin: 0 auto;
}

li {
  line-height: 1.4em;
  margin: 0.6em;
}

blockquote {
  width: 38%;
  margin: 0 auto;
  margin-top: 1.6em;
}

h3 {
  text-align: center;
  margin-top: 2em;
  padding-bottom: 1.3em;
}

@media only screen and (max-width: 900px) {
  ul {
    width: 80%;
  }

  blockquote {
    width: 80%;
  }

  h3 {
    margin: 0 4%;
  }
}